{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hii, I am <a href="https://tejvir.netlify.app/" class="text-decoration-none">Tejvir Chauhan</a>, a versatile Full Stack Developer with expertise in crafting seamless web applications, blending front-end creativity with back-end efficiency with current experience as a Trainer Intern,
          where I conduct comprehensive training sessions on full-stack development. 
          My focus areas include both front-end and back-end technologies, 
          particularly in Python frameworks such as Flask and Django, 
          as well as front-end technologies like HTML, CSS, and JavaScript.
        </p>
        <p>
          I also guides students through hands-on projects, 
          helping them build and deploy full-stack applications, 
          and provides mentorship, support, 
          and constructive feedback through assessments to enhance their learning outcomes.
        </p>
        <p>
          My projects and achievements reflect my strong foundation in coding and problem-solving, 
          coupled with real-world application of technologies across various platforms. 
          My experience in data analysis, training, 
          and hands-on project development makes me versatile across multiple domains.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
